.page {
  margin: 0;
  width: 100vw;
  height: 100vh;
  color: white;
  text-align: center;
}

.one {
  background-color: aqua;
}

.two {
  background-color: rgb(219, 216, 0);
}

.three {
  background-color: rgb(183, 0, 255);
}

.four {
  background-color: rgb(72, 255, 0);
}
